<section class="sec-index">
  <h1 class="title-index">APP SOCIAL</h1>

  <div class="container-text">
    <p>Inicia sesion o registrate para empezar.</p>
  </div>

  <a class="btn" href="/admin/login">Comenzar!</a>

</section>