<section class="sec-login">
  <h1 class="title-productos">Agregar Producto</h1>
  <form
    class="form-login"
    action="/admin/productos/agregar"
    method="post"
    enctype="multipart/form-data"
  >
    <div>
      <input
        class="input-login input-modificar"
        type="text"
        placeholder="Titulo"
        name="titulo"
        required
      />
    </div>
    <div>
      <input
        class="input-login input-modificar"
        type="number"
        placeholder="Precio"
        name="precio"
        required
      />
    </div>
    <div>
      <textarea
        class="input-login input-modificar"
        placeholder="Descripción"
        name="cuerpo"
        minlength="1"
        maxlength="100"
        required
      ></textarea>
    </div>
    <div>
      <label>Imagen: <input type="file" name="imagen" id="imagen" /></label>
    </div>
    <button class="btn" type="submit">Agregar</button>
  </form>
  {{#if error}}
    <h3>{{message}}</h3>
  {{/if}}
</section>